@model TravelGuide.Entiteis.Models.Payment

@{
    ViewData["Title"] = "Payment Details";
    Layout = "_templateLayout";

}

<h1>Payment Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Method)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Method)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class="col-sm-2">
            Booking type
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.FlightBookingId != null)
                {
                    @Html.DisplayNameFor(model => model.FlightBooking)
                }
                if (Model.RoomBookingId != null)
                {
                    @Html.DisplayNameFor(model => model.RoomBooking)
                }
                if (Model.PackageBookingId != null)
                {
                    @Html.DisplayNameFor(model => model.PackageBooking)
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PaymentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
