@model IEnumerable<TravelGuide.Entiteis.Models.Location>

@{
    ViewData["Title"] = "LocationsList";
    Layout = "_templateLayout";
}

<body>
    <section class="top_place section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="section_tittle text-center">
                        <h2>Locations</h2>
                        <p>Explore our curated list of travel destinations and plan your next journey.</p>
                        @* Create button for admins *@
                        @{
                            if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <div class="m-auto text-center">
                                    <a asp-action="Create" asp-controller="Location"
                                       style="display: inline-block; padding: 10px 25px; color: #fff; background-color: #fe5c24; text-transform: capitalize; margin-top: 10px;">
                                        Create New Location
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 col-md-6 m-auto">
                    <div class="single_place">
                        <img src="@item.ImageUrl" alt="NoImage" width="100%">
                        <div class="hover_Text d-flex align-items-end justify-content-between">
                            <div class="hover_text_iner w-100">
                                <p>@item.LocationName, @item.Country</p>
                                <p  >@item.Description</p>
                                <div class="flex-column">
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="place_btn" asp-action="Edit" asp-route-Id="@item.LocationId">Edit</a>
                                        <a class="place_btn" asp-action="Delete" asp-route-Id="@item.LocationId">Delete</a>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </section>
</body>