@model IEnumerable<TravelGuide.Entiteis.Models.Hotel>

@{
    var hotelModel = ViewBag.HotelModel as IEnumerable<TravelGuide.Entiteis.Models.Hotel>;
}
<section class="hotel_list section_padding" id="Hotels">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section_tittle text-center">
                    <h2>Top Hotels</h2>
                    <p>Waters make fish every without firmament saw had. Morning air subdue. Our. Air very one. Whales grass is fish whales winged.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            @* @if (hotelModel != null && hotelModel.Count() >= 3)
            { *@
                @foreach (var item in hotelModel.Take(3))
                {
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_ihotel_list">
                            <img src="@item.HotelImage" alt="">
                            <div class="hotel_text_iner">
                                <h3><a asp-action="Index" asp-controller="Rooms" asp-route-HotelId="@item.HotelId"> @item.HotelName</a></h3>
                                <p>@item.Location.LocationName</p>
                                <div class="place_review">
                                    @for (int i = 0; i < @item.Rating; i++)
                                    {
                                        <a href="#"><i class="fas fa-star"></i></a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
          @*   } *@
        </div>

        
        <div class="row justify-content-center mt-5">
            <div class="col-auto">
                <a class="btn_1" asp-area="" asp-controller="Hotels" asp-action="Index">Discover more</a>
            </div>
        </div>
    </div>
</section>
