@model IEnumerable<TravelGuide.Entiteis.Models.TravelPackage>

<section class="top_place section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section_tittle text-center">
                    <h2>Top Travel Packages</h2>
                    <p>Experience the world with our curated travel packages. Explore amazing destinations and create unforgettable memories.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
                @foreach (var item in Model.Take(4))
                {
                <div class="col-lg-6 col-md-6 m-auto">
                    <div class="single_place">
                        <img src="@item.PackageImage" alt="NoImage" width="100%">
                        <div class="hover_Text d-flex align-items-end justify-content-between">
                            <div class="hover_text_iner">
                                <h3>@item.PackageName - @item.Price $</h3>
                                <p>@item.Destination</p>
                                <p>@item.Description</p>
                                <p>@item.Duration days for @item.MaxGuests Guests</p>
                                <div class="place_review">
                                    @for (int i = 0; i < @item.Rating; i++)
                                    {
                                        <a href="#"><i class="fas fa-star"></i></a>
                                    }
                                </div>
                                <p>Starting from @item.StartDate.ToShortDateString() to @item.EndDate.ToShortDateString()</p>
                                <div class="flex-column">
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                                    {
                                        <a class="place_btn" asp-action="Create" asp-controller="PackageBooking" asp-route-PackageId="@item.PackageId">Book Now</a>
                                    }
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="place_btn" asp-action="Edit" asp-route-Id="@item.PackageId">Edit</a>
                                        <a class="place_btn" asp-action="Delete" asp-route-Id="@item.PackageId">Delete</a>
                                    }
                                    <form asp-action="Create" asp-controller="WatchlistItem">
                                        <input type="hidden" name="ItemID" value="@item.PackageId" />
                                        <input type="hidden" name="ItemType" value="TravelPackages" />
                                        <input type="hidden" name="Image" value="@item.PackageImage" />
                                        <input type="hidden" name="Name" value="@item.PackageName" />
                                        @Html.AntiForgeryToken() <!-- To prevent CSRF attacks -->
                                        <button type="submit" class="place_btn" style="border : none">Add to Watchlist</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-auto">
                <a class="btn_1 text-cnter" asp-controller="TravelPackages" asp-action="Index">Discover more</a>
            </div>
        </div>
    </div>
</section>
