@model TravelGuide.Entiteis.Models.PackageBooking

@{
    ViewData["Title"] = "PackageBookingDetails";
    Layout = "_templateLayout";

}

<h1>PackageBookingDetails</h1>

<div>
    <h4>PackageBooking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfGuests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfGuests)
        </dd>
@*         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelPackage)
        </dt> *@
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelPackage.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
@*         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt> *@
@*         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
